<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="TemplateMo" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"
      rel="stylesheet"
    />

    <title>Paper Ranker</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/search/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/search/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="/static/search/assets/css/templatemo-host-cloud.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <style type="text/css">
      .pagination {
   justify-content: center;
}
@media only screen and (max-width: 320px) {

   body { 
      font-size: 2em; 
   }

}
    </style>

  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <!-- <a class="navbar-brand" href="/paper/search"> -->
            <!-- <h1 style="color: white;">Paper <em> Ranker</em> -->
            <!-- <h1 style="font-family: 'Architects Daughter', cursive; color: #17a2b8;">Paper Ranker..!</h1> -->
            <!-- </a -->
          <a class="navbar-brand" href="/paper/search"
            ><h2>Paper <em> Ranker</em></h2></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <!-- <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html"
                  >Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="services.html">Our Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
            </ul> -->
          </div>
          <div class="functional-buttons">
            <ul>
              {% if loggedIn %}
                <li><a href="/user/logout">Log out</a></li>
                 <li><a href="/user/home">Publisher</a></li>
              {% else %}
                <li><a href="/user/login">Log in</a></li>
                <li><a href="/user/signup">Sign Up</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="header-text caption" style="text-align: center;">
              <h2>Search your domain!</h2>
              <div id="search-section">
                <form id="seach_form" name="gs" method="GET">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Enter keywords here" aria-label="keyword" aria-describedby="basic-addon2" name="q" value="{{ value }}" autocomplete="on"> 
                      <div class="input-group-append">
                        <button class="btn btn-info" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

     <!-- Features Starts Here -->
    <div class="features-section">
      <div class="container" id="view-container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              {% for paper in paper_list %}
               <div class="col-md-12">
                <div class="col-md-12">
                  <div class="feature-item" style="floa">
                    <div class="icon col-md-3">
                        <img src="/static/search/assets/images/feature-01.png" alt="">
                    </div>
                    <div class="col-md-9">
                    <h4>{{ paper["title"] }}</h4>
                    <h4><a href="{{ paper["url"] }}" target="_blank">{{ paper["url"] }}</a></h4>
                    <h4>CONFERENCE : {{ paper["conference"]["abbr"] }}</h4>
                    <h4>RANK : {{ paper["conference"]["rank"] }} </h4>
                    <!-- <h5>{{ loop.index + pagination.skip }}</h5> -->
                  </div>
                </div>
                </div>
              </div>
  <!--               <div class="card text-white bg-dark">
                <div class="card-header">
                  <h5 class="card-title">{{ paper["title"] }}</h5>
                  </div> 
                      <div class="card-body">
                      <h5 class="card-title">{{ paper["conference"]["rank"] }}</h5>
                      <h5 class="card-title">{{ paper["conference"]["abbr"] }}</h5>
                      <a href="{{ paper["url"] }}" class="btn btn-primary" target="_blank">Go to paper</a>
                    </div>
                </div>
                <br> -->
              {% endfor %}
            </div>
          </div> 
        </div>
      </div>
    </div>
    <!-- Features Ends Here -->
    {% if pagintation is not none %}
    {{ pagination.links }}
    {% endif %}



    <!-- Bootstrap core JavaScript -->
    <script src="/static/search/vendor/jquery/jquery.min.js"></script>
    <script src="/static/search/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="/static/search/assets/js/custom.js"></script>
    <script src="/static/search/assets/js/owl.js"></script>
    <script src="/static/search/assets/js/accordions.js"></script>
    <script src="/static/search/assets/js/main.js"></script>

  </body>
</html>
