<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pubisher Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="/static/user/images/icons/favicon.ico"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/user/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/user/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/user/vendor/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/user/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/user/vendor/perfect-scrollbar/perfect-scrollbar.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/user/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/static/user/css/main.css" />
    <!--===============================================================================================-->
  </head>

  <body>
<!--     <ul class="nav justify-content-end">
      <li class="nav-item" style="margin-left: 5%">
        <a class="nav-link" href="/paper/search"
          ><i class="fa fa-home"></i>Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/user/add_paper">Add paper</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/logout">Logout</a>
      </li>
    </ul> -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="/paper/search" target="_blank">
        <strong>Paper <em> Ranker</em></strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/paper/search">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/add_paper" >Add paper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/logout">Logout</a>
          </li>
        </ul>

        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <p class="active nav-link border border-light rounded">
              {{ data.name }}
            </p>
          </li>
        </ul>
        </div>
      </div>
    </nav>
    <div class="limiter">
      <div class="container-table100">
        <div class="wrap-table100">
          {% if data.papers %}
          <div class="table100">
            <table>
              <thead>
                <tr class="table100-head">
                  <th class="column1">Title</th>
                  <th class="column2">Conference</th>
                  <th class="column3">Rank</th>
                  <th class="column6"></th>
                </tr>
              </thead>
              <tbody>
                {% for paper in data.papers %}
                <tr> 
                  <td class="column1">
                    {{ paper["title"] }}
                  </td>
                  <td class="column2">{{ paper["conference"]["abbr"] }}</td>
                  <td class="column3">{{ paper["conference"]["rank"] }}</td>
                  <td class="column6">
                    <form method="POST" action="/user/delete_paper">
                      <input name="title" value="{{ paper["title"] }}" hidden="true" type="text" >
                      <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
            <div class="table100">
            <table>
              <thead>
                <tr class="table100-head">
                  <th class="column1">No papers</th> 
                </tr>
              </thead>
            </table>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="/static/user/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/user/vendor/bootstrap/js/popper.js"></script>
    <script src="/static/user/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/user/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/user/js/main.js"></script>
  </body>
</html>